/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

body {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

h1 {
    margin: 60px, 0;
}
.Canvas2D {

    margin: 0 80px ;
    background: lightgray;
    height: 800px;
    width: 900px;
    float: left;
}

form {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    line-height: 4rem;
    border: 2px solid black;
}

.button{
    margin: 15px;
    font-weight: bold;
    font-size: 2rem;
    background-color: lightcoral;
    padding:0 15px;
    border-radius: 15px;
}
